 @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;1,400&display=swap');

 body {
    height: 100%;
    width: 100%;

}

#navbar ul li{
    letter-spacing: 0.1rem;
}

 #footer{
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    letter-spacing: 0.1rem;
    padding: 1rem;
}

#homediv {
    margin: 0 auto;
    padding: 2rem;
    justify-content: center;
}

button{
    /* font-family: 'Montserrat', sans-serif; */
    letter-spacing: 0.1rem;
    width: 40%;
}

h2, h3{
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.2rem;
    font-weight: bold;
    color:Red;
    text-align: center;
}

#colorList, .list2, #newList{
    padding: 1rem;
}

#colorItems, #listItems, #newestColorItems{
    letter-spacing: 0.1rem;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: white;
    padding: 1rem;
    display: flex;
}


